{{ reserveImport "github.com/Yamashou/gqlgenc/v3/client" }}
{{ reserveImport "github.com/99designs/gqlgen/graphql" }}
{{ reserveImport $.QueryPackagePath }}

{{range $operation := .Operations}}
type {{ $operation.Name|go }}Vars struct {
	{{- range $arg := $operation.Args }}
	{{ $arg.Variable | go }} {{ if $arg.Omittable }}graphql.Omittable[{{ $arg.Type | ref }}]{{ else }}{{ $arg.Type | ref }}{{ end }} `json:"{{ $arg.Variable }}{{ if $arg.Omittable }},omitzero{{ end }}"`
	{{- end }}
}

var {{ $operation.Name|go }}Op = client.Operation[client.{{ $operation.Kind }}, {{ $operation.Name|go }}Vars, {{ $.QueryPackage }}.{{ $operation.Name|go }}]{
	Name:     "{{ $operation.Name }}",
	Document: {{ $.QueryPackage }}.{{ $operation.Name|go }}Document,
}

{{end}}
