{{ reserveImport "github.com/Yamashou/gqlgenc/v3/client" }}

{{range $operation := .Operations}}
type {{ $operation.Name|go }}Vars struct {
	{{- range $arg := $operation.Args }}
	{{ $arg.Variable | go }} {{ $arg.Type | ref }} `json:"{{ $arg.Variable }}"`
	{{- end }}
}

var {{ $operation.Name|go }}Op = client.Operation[{{ $operation.Name|go }}Vars, {{ $.QueryPackage }}.{{ $operation.Name|go }}]{
	Name:     "{{ $operation.Name }}",
	Document: {{ $.QueryPackage }}.{{ $operation.Name|go }}Document,
}

{{end}}
