{{- if needsJSONImport }}
import (
    "fmt"

    "encoding/json/jsontext"
    json "encoding/json/v2"
)

{{- end}}
{{- range $goType:= .GoTypes }}
{{ genCode $goType }}
{{- end}}

{{- range $operation := .Operations}}
const {{ $operation.Name|go }}Document = `{{ $operation.Document }}`
{{- end}}

var DocumentOperationNames = map[string]string{
{{- range $operation := .Operations}}
    {{ $operation.Name|go }}Document: "{{ $operation.Name }}",
{{- end}}
}
